<div class="status">
    @if (isSpellcheckingInitial.isOngoing || isSpellchecking) {
        <div class="ongoing">
            <span>Analisar...</span>
            <!--<app-spinner></app-spinner>-->
            @if (isSpellcheckingInitial.isOngoing) {
                <progress [max]="isSpellcheckingInitial.total" [value]="isSpellcheckingInitial.current"></progress>

            }
        </div>
    }
</div>

<div class="main-content">
    <b>Correctura ortografica ({{ LanguageUtils.languageText(language) }})</b>
    <ol>
        <li>Tscherner l’idiom en ils la pagina «Parameters» sutvart a dretga.</li>
        <li>Turnar nà qua, a la pagina «Correctura». Il text vegn analisà.</li>
        <li>La lingia violetta inditgescha ch’il program n’enconuscha betg il pled sutlingià.
            Cun cliccar (cun la tasta sanestra da la mieur) sin il pled vegnan mussadas propostas da pleds
            ortograficamain corrects. Cliccar sin ina proposta per remplazzar il pled sutlingià.
        </li>
    </ol>
</div>

<div class="report-missing">
    <app-suggestion-box></app-suggestion-box>
</div>
