:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 13px;

  .status {
    min-height: 60px;

    .ongoing {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        margin-top: 4px;
        margin-right: 4px;
      }
    }

    progress {
      width: 100%;
      border: none;
      margin: 5px 0;
      height: 5px;
      display: block;
      appearance: none;
      -webkit-appearance: none;

      &::-webkit-progress-bar {
        background-color: lightgray;
      }

      &::-webkit-progress-value {
        background-color: rgb(0, 120, 212);
      }
    }
  }

  .main-content {
    flex-grow: 1;
    align-content: center;

    ol {
      padding-left: 20px;

      li {
        margin-top: 12px;
      }
    }

    .note {
      font-style: italic;
    }

    .berry {
      border-bottom: 1.5px solid #C239B3;
    }

    .red {
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: red;
      text-underline-offset: 2px;
      text-decoration-thickness: 1px;
    }
  }
}
