<button (click)="checkGrammar()">Controllar l'ortografia</button>

<div *ngIf="spellingErrors.length > 0" class="number-spelling-errors">
    Chattà {{ spellingErrors.length }} propostas:
</div>
<app-errors-list [spellingErrors]="spellingErrors" [paragraphs]="paragraphs"
                 (highlightEvent)="highlight($event)"
                 (acceptSuggestionEvent)="acceptSuggestion($event)"
                 (ignoreWordEvent)="ignoreWord($event)"
                 *ngIf="!isFirstRun && spellingErrors.length > 0"></app-errors-list>

<div class="full-size-notification" *ngIf="isFirstRun">
    <span>Cliccar sin «Controllar l’ortografia», lura vegnan eventuals sbagls ortografics mussads en ina glista. <br><br>
        Cun in clic sin in pled en la glista vegn quel selecziunà en il document ed il program fa propostas da correctura. Cliccar sin ina proposta per l'acceptar.</span>
</div>

<div class="full-size-notification" *ngIf="!isFirstRun && spellingErrors.length === 0">
    <span>Chattà nagins sbagls.</span>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale" [fullScreen]="true" [showSpinner]="isSpellchecking"><p style="color: white" > Curreger... </p></ngx-spinner>

<modal #errorModal>
    <modal-header>
        <h4>Betg chattà</h4>
    </modal-header>
    <modal-content>
        <p>{{ error }}</p>

        <p style="margin-top: 24px;">Nus recummandain da tschertgar danovamain sbagls.</p>
    </modal-content>
    <modal-footer>
        <button class="secondary" (click)="errorModal.close(false)" style="margin-right: 12px;">Na, cuntinuar</button>
        <button (click)="errorModal.close(true)">Gea, tschertgar</button>
    </modal-footer>
</modal>
