:host {
  display: block;
  padding: 20px;
  background-color: white;
  border: 1px solid grey;
  font-size: 13px;
}

h2 {
  font-size: 13px;
}

.button-bar {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;

  button {
    font-size: 13px;
  }
}

input, textarea {
  width: 100%;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 14px;
  min-height: 26px;
}

textarea {
  min-height: 52px;
  resize: none;
}

.intro {
  margin-bottom: 16px;
}
